<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="jumbotron">

%h1 All Wildfire Acreage By Region

- @wildfires.each do |w|
	Year:
	= w.year
	%br
	Geographic Area:
	= w.location.area
	%br
	Wildfire Acres:
	= w.acres
	%br
	Cause:
	= w.cause
	%br
	= button_to "Delete", "/wildfires/#{w.id}", {:action => "delete", :method => :delete}
	%br

= button_to "Add Wildfire", new_wildfire_path, method: "get"

%br
%br
<a href="/locations">All Wildfire Incidences By Region</a>
%br
%h2 Search Wildfires By Year, Area, Acres or Cause

= form_tag wildfires_path, :method => "get", id: "search-form" do
	= text_field_tag :search, params[:search], placeholder: "Year, Area, Acres, or Cause..." 
	= submit_tag "Search", :name => nil 

%br

/ = form_tag wildfires_path, :method => "get", id: "search-form" do
/ 	= text_field_tag :search2, params[:search], placeholder: "Year, Area, Acres, or Cause..." 
/ 	= submit_tag "Search", :name => nil 

</div>