<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="jumbotron">

%h1 Add A Wildfire

= form_for @new_wildfire, url: wildfires_path do |f| 
	= f.label :year
	= f.text_field :year
	%br
	= f.label :location_id
	= f.select :location_id, Location.all.collect{|l| [l.area, l.id] }
	%br
	= f.label :acres
	= f.text_field :acres
	%br

	= f.label :cause
	= f.select :cause, options_for_select(["Human", "Lightning"])
	%br
	%br
	= f.file_field :file
	%br
	= f.submit

%br
= button_to "Go Back to Home", wildfires_path, method: "get"

</div>