<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<div class="jumbotron">

%h1 Add A Wildfire Location

= form_for @new_location, url: locations_path do |f| 
	= f.label :area
	= f.text_field :area
	%br
	= f.label :incidence
	= f.text_field :incidence
	%br
	= f.label :year
	= f.text_field :year
	%br
	= f.label :cause
	= f.select :cause, options_for_select(["Human", "Lightning"])
	%br
	%br
	= f.submit

%br
= button_to "Go Back to Home", locations_path, method: "get"

</div>